QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=nirdesh_memory
QDRANT_EMBED_MODEL=sentence-transformers/all-MiniLM-L6-v2
QDRANT_TOP_K=3
VAPI_WEBHOOK_SECRET= https://warm-clocks-cough.loca.lt/vapi/webhook
VAPI_PRIVATE_API_KEY=12d4072d-9d62-4f37-b319-feac86df15a3
LLM_API_KEY=sk-ksntraN6uDCa0QQQc3AHqA
LLM_BASE_URL=https://api.ai.kodekloud.com/v1
LLM_MODEL=anthropic/claude-sonnet-4.5
